@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');


@font-face{

  font-family: 'AnastasiaScriptC';
  
  src: url('1.otf');
  
  }


body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/masthead.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.promo {
  color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1.font-weight-header{
  font-family: 'AnastasiaScriptC';
  font-size: 3.5rem;
  
}

.lead{
  font-size:1rem;
  
}
h2,
h4,
h5 {
  color: #fc3912;
  padding: .8em 0em;
  font-weight: 300;
}
h2{
  font-weight: 400;
}
h5 {
  font-size: 16px;
  text-transform: uppercase;
}

p, .list-inline li{
  color: #000;
}
.white{
  color:#fff;
}
.icon-text {
  line-height: normal;
  font-weight:300;
}

header .btn-solid-lg {
  font-family: 'Roboto', sans-serif;
  margin-right: 0.5rem;
  margin-bottom: 1.25rem;
}

.btn-solid-lg:hover {
  background-color: white;
  color: #fc3912;
  text-decoration: none;
  border: 1px solid #fc3912;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.375rem 2.625rem 1.375rem 2.625rem;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  background-color: #fc3912;
  color: #fff;
  text-decoration: none;
  font: 300 0.75rem/0 "Roboto", sans-serif;
  transition: all 0.2s;
}

a.btn {
  background: #fc3912;
  border-radius: 2rem;
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}


.coocker-img {
  border-radius: 50%;
  height: auto;
  max-height: 350px;
}

.progress {
  margin-bottom: 30px;
}

section.coocker {
  margin: 0;
  padding: 0;
  color: black;
}


section.back-light {
  background-color: #fff;
}


/* Navbar*/ 
.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.on .two {
  opacity: 0;
}

.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -8px);
  -ms-transform: rotate(-45deg) translate(8px, -8px);
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
  transform: rotate(-45deg) translate(8px, -8px);
}

.one,
.two,
.three {
  width: 100%;
  height: 3px;
  background: white;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
}

nav ul.hidden {
  display: none;
}

nav ul a { 
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
  font-size: 3em;
  line-height: 1.5;
  width: 100%;
  display: block;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu-section.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #33383c;
  position: absolute;
}

nav li a:hover {
  color: #fff;
  text-decoration: none;
}

.dishes{
  width: 256px;
  height: 172px;
  border-radius: 10%;
  border: 2px solid #fc3912;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: #fc3912;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.8;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 16px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}



/*Footer*/
footer{
     background-color: #33383c;
     padding:30px 0px;
}	       

.logo{
    color:#FFF;
    font-weight:700;
    font-size:30px;
}

.address span, .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
}
 
.menu li a{
    color:#FFF;
    text-decoration:none;
    font-size:16px;
    font-weight: 400;
}

.address li, .menu li{
    font-size: 16px;
    margin:20px 0px;
    list-style: none;
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
 ul.menu, ul.address{
  padding: 0 ;
 }

.copyright{
  font-size: 16px;
}

.header-h {
font-size: 35px;
color: #fc3912;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}
ul
{
list-style:none;
}
.header-p {
color:#9699a6;
font-size:16px;
}
.section-padding{
padding: 60px 0px;
}
.marb-35{
margin-bottom:35px;
}

.masthead-2 {
  height: 50vh;
  background-image:url('../img/masthead-2.jpg');
  background-size:cover;
  background-position:bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.menu-restaurant
{
width:50%;
float:left;
padding:15px;
position:realtive;

}
.menu-restaurant .menu-title
{
float:left;
font-family:Montserrat,arial;
text-transform:uppercase;
letter-spacing:1px;
color:#fc3912;
}

.menu-restaurant .menu-price{
color: #000;
font-weight:600;
position:absolute;
right:0;
top:0;

}
.menu-restaurant .menu-subtitle
{
display:block;
float:left;
color:#B1B1B1;
font-family: 'Roboto', sans-serif;
font-size: 1.2rem;
}
.menu-restaurant span.clearfix{
position:relative;
display:block;
}
#menu-filters ul li a.active, #menu-filters ul li a:hover
{
background: #fc3912;
color:#fff;
border:1px solid #fc3912;
}
#menu-filters ul li 
{
display:inline-block;
color:#fff;
text-transform:capitalize;
letter-spacing:1px;
margin-bottom:40px;
}
#menu-filters ul li a
{
padding:10px 20px;
font-size:14px;
color:#565656;
border-radius:0px;
border:1px solid #BBBBBB;
text-decoration:none;
cursor:pointer;

}
@media (min-width: 20px) and (max-width: 450px) 
{
.menu-restaurant 
{
width: 100%;
}
.header-h
{
font-size: 35px;
}
.header-p 
{
font-size: 14px;
}
}
@media (min-width: 20px) and (max-width: 370px){
  .btn-solid-lg{
    margin-right: 0;
  }
  p .lead{
    font-size: 1rem;
  }
  h1.font-weight-header{
    font-size:2.5rem;
  }
}
.msg-row{
margin-top:56px;
}
.media-body, .media-left
{
display:table-cell; 
vertical-align: top;

}

.bg-1
{
background-color: #ff0033;
width:70px;
height:70px;
border-radius:50%;

}
.bg-14
{
background-color: #34c924;
width:70px;
height:70px;
border-radius:50%;
}
.dark-blue
{
color: #31364c;
font-size: 24px;
margin-top: 0;
}
.light-blue {
color: #9699a6;
font-size: 16px;
margin-bottom: 1px;
}
.media-body{
margin-left:10px;
padding-left:13px;
}
.media-2{
margin-top:30px;

}
.form-group
{
margin:8px 0 9px !important;
padding-bottom:10px;
}
.contact-form .form-control
{
color:#000 !important;
font-size:16px;
font-weight:normal;
height:38px;
line-height: 1.42857;
padding:7px 0;

}
.form-control, .form-group .form-control {
border: 0;
background-image: -webkit-gradient(linear,left top,left bottom,from(#009688), to(#009688)),-webkit-gradient(linear, left top, left bottom, from(#D2D2D2), 
to(#D2D2D2));
background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
-webkit-background-size: 0 2px, 100% 1px;
background-size:0 2px,100% 1px;
background-repeat: no-repeat;
background-position: center bottom, center -webkit-calc(100% - 1px);
background-position: center bottom, center calc(100% - 1px);
background-color: rgba(0, 0, 0, 0);
-webkit-transition: background 0s ease-out;
-o-transition: background 0s ease-out;
transition: background 0s ease-out;
float: none;
-webkit-box-shadow: none;
box-shadow: none;
border-radius: 0;

}
.contact-form {
margin: 8px 0 9px !important;
padding-bottom: 10px;
}
.phone-in-talk, .hour-icon
{
font-size: 35px;
line-height: 70px;
color: rgb(255, 255, 255);
}

.contact-form textarea.form-control {
color: #000 !important;
height: auto;
}


.validation {
color: red;
display:none;
margin: 0 0 20px;
font-weight:400;
font-size:13px;
}

#sendmessage {
color: green;
border:1px solid green;
display:none;
text-align:center;
padding:15px;
font-weight:600;
margin-bottom:15px;
}

#errormessage {
color: red;
display:none;
border:1px solid red;
text-align:center;
padding:15px;
font-weight:600;
margin-bottom:15px;
}

.reviews{
  margin-bottom: 5%;
}
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

.masthead-1 {
  height: 50vh;
  background-image:url('../img/masthead-1.jpg');
  background-size:cover;
  background-position:bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about{
  padding:5% 0;
  width:100%;
  height:auto;
  background-color:#fff;
}
.about .left{
  padding:2% 0;
  float:left;
  width:50%;
  display:inline-block;
}
.about .right{
  width:50%;
  display:inline-block;
}
.about .right img{
  width:100%
}
.about .left h1{
  text-align:center;
  color:#fc3912;
  margin:0 0 10px 0;
}
.about .left hr{
  width:20%;
  border-top:2px solid #fc3912;
  border-bottom:none;
}
.about .left p{
  margin:40px auto;
  width:80%
}

.mission{
  padding:5% 0;
  width:100%;
  height:auto;
  background-color:#fff;
}
.mission .right{
  padding:2% 0;
  width:50%;

  display:inline-block;
}
.mission .left{
  float:left;
  width:50%;

  display:inline-block;
}
.mission .left img{
  width:100%;
}
.mission .right h1{
  text-align:center;
  color:#fc3912;
  margin:0 0 20px 0;
}
.mission .right hr{
  width:35%;
  border-top:2px solid #fc3912;
  border-bottom:none;
}
.mission .right p{
  margin:40px auto;
  width:80%

}


.team{
  width:90%;
  margin:auto;
  padding:5% 5%;
  overflow:hidden;
}
.team h1{
  text-align:center;
  color:#fc3912;
  
}
.map h1, .team h1 hr{
  width:15%;
  border-top:2px solid #fc3912;
  background-color:transperant;
  border-bottom:none;
  margin-bottom:50px;
}

.clear{
   clear: both;			
}



@media(max-width:1200px){
  .mission .right p{
     margin:20px auto;
  }
  .about .left p{
     margin:20px auto;
  }
}



@media(max-width:992px){
  .about .left{
  width:100%; 
}
  .about .right{
  width:100%; 
}
     .mission .left{
  width:100%; 
}
  .mission .right{
  width:100%; 
}
}

.masthead-3 {
  height: 50vh;
  background-image:url('../img/masthead-3.jpg');
  background-size:cover;
  background-position:bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.blog-container{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
  font-weight: 100;
  margin: 48px auto;
  width: 50rem;
}
.blog-container a:hover{
  border-color: #e77d7d;
  color: #e77d7d;
  text-decoration: none;
}
.blog-cover{
  background: url('/img/news/1.jpg');
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px; 
}
.blog-cover1{
  background: url('/img/news/2.jpg');
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px; 
}
.blog-cover2{
  background: url('/img/news/3.jpg');
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px; 
}
.blog-cover3{
  background: url('/img/news/4.jpg');
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px; 
}
.blog-body{
  margin: 0 auto;
  width: 80%;
}
.blog-title h2 a{
  color: #fc3912;
  font-weight: 400;
}
.blog-text p{
  color: #000;
}
.blog-tags ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
.blog-tags li + li{
  margin-left: .5rem;
}
.blog-tags a{
  border: 1px solid silver;
  border-radius: 3px;
  color: #000;
  font-size: .75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 .5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

}
.blog-footer{
  border-top: 1px solid silver;
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}
.blog-footer ul{
  list-style: none; 
  display: flex;
  flex: row wrap;
  justify-content: flex-end;
  padding-left: 0;
}
.blog-footer li{
  color: #000;
  font-size:.75rem;
  height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}
div.blog-text{
  color: #000;
}

@media screen and (max-width: 768px){
  .photo_itm{
      width: 45%;
      margin-left: 10px;
  }
  .blog-container{
      width: 28rem;
  }
}

@media screen and (max-width: 420px){
  .project{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .gallery{
      width: auto;
      margin: auto;
  }
  .photo_itm{
      width: 70%;
      margin: 0 auto;
  }
  .blog-container{
      width: 20rem;
  }
}

