@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700&display=swap');

.font-weight-header {
    font-weight: 400;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/picture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.promo {
    color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2,
h5 {
    color: #fc3912;
    padding: .8em 0em;
}

h5 {
    text-transform: uppercase;
}


.icon-text {
    line-height: normal;
    font-weight: 300;

}

header .btn-solid-lg {
    margin-right: 0.5rem;
    margin-bottom: 1.25rem;
}

.btn-solid-lg:hover {
    background-color: white;
    color: #fc4e2f;
    text-decoration: none;
    border: 1px solid #fc3912;
}


.header .btn-solid-lg {
    margin-right: 0.5rem;
    margin-bottom: 1.25rem;
}

.btn-solid-lg {
    display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    background-color: #fc3912;
    color: #fff;
    font: 700 0.75rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
}

.coocker-img {
    border-radius: 50%;
    height: auto;
    max-height: 350px;
}

.progress {
    margin-bottom: 30px;
}

section.coocker {
    margin: 0;
    padding: 0;
    background-color: #f5f6f7;
    color: black;

}